@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.noto-serif-bengali {
  font-family: "Noto Serif Bengali", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}